#hero {
    background: url(https://raw.githubusercontent.com/Suraj-EverestIMS/cms/refs/heads/main/src/assets/demo/images/blocks/landing-page/hero/bg.png), url(https://raw.githubusercontent.com/Suraj-EverestIMS/cms/refs/heads/main/src/assets/demo/images/blocks/landing-page/hero/hero-image.png);
    background-repeat: no-repeat;
    background-position: center, right bottom;
    background-size: cover, 45%;
    height: 100vh;
    
    div.container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        &>div {
            width: 50%;
        }
        &>div:last-child {
            width: 50%;
        }

        .hero-content {
            position: relative;
        }
    }

    .hero-img img {
        width: 100%;
    }
}

.p-button {
    flex-direction: row-reverse;
    gap: 5px;
}
.get-started {
    background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
    color: #00040E;
    border-radius: 10px;
    padding: 20px 33px;
    font-size: 18px;
    line-height: 1.3;
    margin-top: 20px;

    &:hover {
        background: transparent;
        border: 1px solid #33BBCF;
    }

    .p-button .p-button-icon-left {
        margin: 0;
    }
}
#hero .get-started {
    border: 1px solid #33BBCF;
    background: transparent;
    color: #33BBCF;
    margin: 3rem 0;

    &:hover {
        background-color: transparent;
    }
}
.request-demo {
    background-color: transparent;
    color: var(--primary-color);
    
    &:hover {
        background-color: transparent;
        color: var(--primary-color-2);
    }
}
h1 {
    span {
        color: #33BBCF;
    }

    b {
        color: #3162BE;
    }
}

.feature-highlights {
    background: url(https://raw.githubusercontent.com/Suraj-EverestIMS/cms/refs/heads/main/src/assets/demo/images/bg-lines.svg), #fff;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;

    .setion-title-s {
        font-size: 1.25rem;
        color: #3162BE;
        margin-bottom: 3.5rem;
    }

    .container {

        &>.container:nth-child(2) {
            flex-direction: row-reverse;
        }
        
        &>div {
            // padding: 0 2rem;
            display: flex;
            align-items: center;
            // height: 100vh;
            
            &>div:first-child {
                width: 80%;
                // border: 1px solid #EFEDF2;
                border-top: 0;
                border-bottom: 0;
            }
            &>div:last-child {
                width: 80%;
            }
        }


        .features-img {
            img {
                max-width: 600px;
                margin: auto;
                top: 20%;
                right: 20%;
                // visibility: hidden;
                // opacity: 0;
                transition: all 0.3s;
                // position: fixed;
                
                // &.floating {
                //     visibility: visible;
                //     opacity: 1;
                // }
            }
        }

        .feature-info {
            h2 {
                font-size: 5rem;
                font-weight: 700;
            }
        }

        .payouts {
            margin: 20rem 0;
        }
    }
}


.stats {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;

        &>div {
            padding: 0 100px;
        }

        &>div:nth-child(2) {
            // border: 1px solid #EFEDF2;
            border-width: 0px 1px;
            border-style: solid;
            border-image: linear-gradient(to bottom, transparent 30%, #EFEDF2 20%, #EFEDF2 66%, transparent 50%) 1 100%;
            border-top: 0;
            border-bottom: 0;
        }

        h2 {
            font-size: 700;
            font-size: 40px;
            line-height: 1.3;

            span {
                font-size: 20px;
                color: #33BBCF;
            }
        }
    }
}

.you-do-business {
    background: url(https://raw.githubusercontent.com/Suraj-EverestIMS/cms/refs/heads/main/src/assets/demo/images/blocks/landing-page/bg/bg2.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto;

    .container {
        gap: 70px;
        &>div.flex-auto {
            width: 50%;

            &>div{
                gap: 20px;
                
                &>div{
                    display: flex;
                    gap: 20px;
                    padding: 20px;
                    border-radius: 20px;
                    box-shadow: 0px 20px 100px -10px #42475B1A;
                    transition: 0.5s all;
                    align-items: center;
                    justify-content: space-between;

                    &:hover {
                        background: linear-gradient(153.47deg, rgba(255, 255, 255, 0) -341.94%, #14101D 95.11%);
                    }
                }
            }
        }
    }
}

.lets-try-our-service {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
        padding: 72px 100px;
        border-radius: 20px;
    }
}