<div class="layout-footer tb-spacing">
    <div class="container">
        <div>
            <img src="assets/layout/images/wowpe-logo.svg" alt="">
            <p class="footer-text">A new way to make the payments easy, <br> reliable and secure.</p>
        </div>
        <div>
            <ul>
                <li class="footer-links-title">Usefull Links</li>
                <li class="footer-links">Content</li>
                <li class="footer-links">How it Works</li>
                <li class="footer-links">Create</li>
                <li class="footer-links">Explore</li>
                <li class="footer-links">Terms & Services</li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="footer-links-title">Usefull Links</li>
                <li class="footer-links">Content</li>
                <li class="footer-links">How it Works</li>
                <li class="footer-links">Create</li>
                <li class="footer-links">Explore</li>
                <li class="footer-links">Terms & Services</li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="footer-links-title">Community</li>
                <li class="footer-links">Help Center</li>
                <li class="footer-links">Partners</li>
                <li class="footer-links">Suggestions</li>
                <li class="footer-links">Blog</li>
                <li class="footer-links">Newsletters</li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="footer-links-title">Partner</li>
                <li class="footer-links">Our Partner</li>
                <li class="footer-links">Become a Partner</li>
            </ul>
        </div>
    </div>
    <div class="container social-media">
        <div>
            <p class="footer-text">Copyright 2021 HooBank. All Rights Reserved.</p>
        </div>
        <div>
            <img src="https://infraon-assets.s3.us-west-1.amazonaws.com/test/social-media.svg" alt="">
        </div>
    </div>
</div>
